@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: white;
    height: 5736px;
    width: 1440px;
    margin: 0%;  
}

/*Eduardo inicio*/

/*INICIO DA ESTILIZAÇÃO DO CABEÇARIO*/
.area__header{
    height: 13%;
    margin: 0%;
    width: 100%; 
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    
}

.botao__login{
    position: absolute;
    width: 123px;
    height: 50px;
    margin-left: 1182px;
    margin-top: 22px;
    background: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
    border-radius: 14px;
}

.cabeçalho{
    width: 100%;
    height: 12.07%;  
}

.linha_horizontal{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 90px;
    opacity: 0.1;
    border: 1px solid #217BF4;
}

.logo{
    width: 34px;
    height: 34px;
    padding-left: 101px;
    margin-top: 30px;
}

.logo__organiza{
    display: flex;
    margin: 0%;  
}

.texto__botao{
    position: absolute;
    width: 36px;
    height: 14px;
    margin-left: 44px;
    margin-top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.texto__blog{
    position: absolute;
    width: 31px;
    height: 14px;
    left: 547px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #656464;
}

.texto__comunity{
    position: absolute;
    width: 41px;
    height: 14px;
    left: 423px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #656464;
}

.texto__events{
    position: absolute;
    width: 46px;
    height: 14px;
    left: 610px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #656464;
}

.texto__home{
    position: absolute;
    width: 41px;
    height: 14px;
    left: 350px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.texto__logo{   
    position: absolute;
    width: 103px;
    height: 24px;
    left: 141px;
    margin-top: 35px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.texto__seta{

    position: absolute;
    width: 1.5px;
    height: 1.5px;
    left: 498px;
    margin-top: 44.38px;
    padding: 1.5px;
    border: 2px solid #656464;
    transform: rotate(315deg);
    border-width: 0 0 2px 2px;
}

/*FIM DA ESTILIZAÇÃO DO CABEÇARIO*/

/*Eduardo Fim*/

/*Tailine inicio*/

/*Tailine fim*/

/*Rafael inicio*/

.area__footer
{
    height: 485px;
    width: 100%; 
}

.footer__superior
{
    height: 389px;
    width: 100%;
    background-color: #2b2b39;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_menu_1
{
    margin-left: 64px;
}

.footer_menu_2
{
    margin-left: 98px;
}

.footer_notificacoes
{
    width: 339px;
    height: 218px;
    margin-left: 163px;
}

.footer__inferior
{
    height: 96px;
    width: 100%; 
    background-color: #20202d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_logo
{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer_icones
{
    margin: 4px;
    width: 36px;
    height: 36px;
}

.texto_footer__superior_titulo
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}

.texto_footer__superior
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.0125em;
    color: #E7E7E7;
}

.texto_footer__inferior
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #f6f6f6;
}

.texto_footer__inferior_logo
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}























/*Rafael fim*/

/*Samir inicio*/
.teste {
    background-color: aqua;
    width: 100%;
    height: 10px;
}

/*Samir fim*/

/*Thiago inicio*/

/*Thiago fim*/