@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: white;
    height: 5736px;
    width: 1440px;
<<<<<<< HEAD
    padding-left: 135px;
    padding-right: 135px;
=======
    margin-left: 135px;
    margin-right: 135px;
    background-color: blue;
>>>>>>> c0484a35c186521402abf69c8d77647f4e3c9bc1
}

/*Eduardo inicio*/
.area__header{
    display: flex;
    height: 13%;
    width: 100%; 
    background-color: black;
}

/*Eduardo Fim*/

/*Tailine inicio*/

/*Tailine fim*/

/*Rafael inicio*/

/*Rafael fim*/

/*Samir inicio*/
.teste {
    background-color: aqua;
    width: 100%;
    height: 10px;
}

/*Samir fim*/

/*Thiago inicio*/

/*Thiago fim*/